body {
	background: url('background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
}

#wheel {
	position: fixed;
	top: 125px;
	left: 50px;

}

#spinWheel {
	position: fixed;
	background-color: yellow;
	color: black;
	top: 400px;
	left: 110px;
}

#guessBox {
	position: fixed;
	top: 600px;
	left: 620px;
}


#newPuzzle{
	position: fixed;
	background-color: yellow;
	color: black;
	top: 400px;
	left: 645px;
}

#moneyArea {
    float: right;
    position: fixed;
    top: 125px;
    right: 50px;
    background-color: white;
    padding: 10px;
    border: 2px black solid;
    width: 200px;
    margin: 5px;
    font-size: 14pt;
}

#spinArea {
    float: right;
    position: fixed;
    top: 225px;
    right: 50px;
    background-color: white;
    padding: 10px;
    border: 2px black solid;
    width: 200px;
    margin: 5px;
    font-size: 14pt;
}

#a_m {
	position: fixed;
	bottom: 50px;
	left: 425px;
}

#n_z {
	position: fixed;
	bottom: 10px;
	left: 425px;
}

#b1-1 {
	height: 50px;
	width: 50px;
	background-color: green;
	border: solid 3px;
	border-color: yellow;
	position: fixed;
	bottom: 255px;
	left: 445px;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	color: white;
}

#b2-1 {
	height: 50px;
	width: 50px;
	background-color: green;
	border: solid 3px;
	border-color: yellow;
	position: fixed;
	bottom: 200px;
	left: 445px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}

#b1-2 {
	height: 50px;
	width: 50px;
	background-color: green;
	border: solid 3px;
	border-color: yellow;
	position: fixed;
	bottom: 255px;
	left: 500px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}

#b2-2 {
	height: 50px;
	width: 50px;
	background-color: green;
	border: solid 3px;
	border-color: yellow;
	position: fixed;
	bottom: 200px;
	left: 500px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}

#b1-3 {
	height: 50px;
	width: 50px;
	background-color: green;
	border: solid 3px;
	border-color: yellow;
	position: fixed;
	bottom: 255px;
	left: 555px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}

#b2-3 {
	height: 50px;
	width: 50px;
	background-color: green;
	border: solid 3px;
	border-color: yellow;
	position: fixed;
	bottom: 200px;
	left: 555px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}

#b1-4 {
	height: 50px;
	width: 50px;
	background-color: green;
	border: solid 3px;
	border-color: yellow;
	position: fixed;
	bottom: 255px;
	left: 610px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}

#b2-4 {
	height: 50px;
	width: 50px;
	background-color: green;
	border: solid 3px;
	border-color: yellow;
	position: fixed;
	bottom: 200px;
	left: 610px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}

#b1-5 {
	height: 50px;
	width: 50px;
	background-color: green;
	border: solid 3px;
	border-color: yellow;
	position: fixed;
	bottom: 255px;
	left: 665px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}

#b2-5 {
	height: 50px;
	width: 50px;
	background-color: green;
	border: solid 3px;
	border-color: yellow;
	position: fixed;
	bottom: 200px;
	left: 665px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}

#b1-6 {
	height: 50px;
	width: 50px;
	background-color: green;
	border: solid 3px;
	border-color: yellow;
	position: fixed;
	bottom: 255px;
	left: 720px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}

#b2-6 {
	height: 50px;
	width: 50px;
	background-color: green;
	border: solid 3px;
	border-color: yellow;
	position: fixed;
	bottom: 200px;
	left: 720px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}

#b1-7 {
	height: 50px;
	width: 50px;
	background-color: green;
	border: solid 3px;
	border-color: yellow;
	position: fixed;
	bottom: 255px;
	left: 775px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}

#b2-7 {
	height: 50px;
	width: 50px;
	background-color: green;
	border: solid 3px;
	border-color: yellow;
	position: fixed;
	bottom: 200px;
	left: 775px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}

#b1-8 {
	height: 50px;
	width: 50px;
	background-color: green;
	border: solid 3px;
	border-color: yellow;
	position: fixed;
	bottom: 255px;
	left: 830px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}

#b2-8 {
	height: 50px;
	width: 50px;
	background-color: green;
	border: solid 3px;
	border-color: yellow;
	position: fixed;
	bottom: 200px;
	left: 830px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}

#b1-9 {
	height: 50px;
	width: 50px;
	background-color: green;
	border: solid 3px;
	border-color: yellow;
	position: fixed;
	bottom: 255px;
	left: 885px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}

#b2-9 {
	height: 50px;
	width: 50px;
	background-color: green;
	border: solid 3px;
	border-color: yellow;
	position: fixed;
	bottom: 200px;
	left: 885px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}

#b1-10 {
	height: 50px;
	width: 50px;
	background-color: green;
	border: solid 3px;
	border-color: yellow;
	position: fixed;
	bottom: 255px;
	left: 940px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}

#b2-10 {
	height: 50px;
	width: 50px;
	background-color: green;
	border: solid 3px;
	border-color: yellow;
	position: fixed;
	bottom: 200px;
	left: 940px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}

#b1-11 {
	height: 50px;
	width: 50px;
	background-color: green;
	border: solid 3px;
	border-color: yellow;
	position: fixed;
	bottom: 255px;
	left: 995px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}

#b2-11 {
	height: 50px;
	width: 50px;
	background-color: green;
	border: solid 3px;
	border-color: yellow;
	position: fixed;
	bottom: 200px;
	left: 995px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}

